{% extends '/exemples_ajax/master_page.html.twig' %}

{% block contenuMain %}
Nom<input type="text" id="inputNom" />
<button id="envoyerNom">Envoyer</button>
<div id="divMessage"></div>
{% endblock %}


{% block javascripts %}
<!-- 
le script externe contient la route du POST pour AXIOS... 
elle est incluse dans un fichier .js et pas .twig
alors "path" ne fonctionnera pas. 
Mais on peut resoudre ce problème avec le bundle jsrouting-bundle

https://symfony.com/doc/master/bundles/FOSJsRoutingBundle/installation.html

qui nous permetra de générer les chemins des routes en JS à partir du name d'une route:

Routing.generate('nom_de_notre_route', {
    'slug': 'mon_slug'
});

importez-le dans le projet: composer require friendsofsymfony/jsrouting-bundle
-->

<script src="{{ asset('/assets/js/exemple1Ajax.js') }}"></script>
{% endblock %}

