{% extends "base.html.twig" %}

{% block body %}
<!-- formulaire à envoyer  -->
<form id="leFormulaire" method="POST">
    Titre<input type="text" name="titre" />
    <button id="envoyerTitre">Envoyer</button>
    <div id="divLivres"></div>
</form>
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    envoyerTitre.addEventListener("click", function (event) {
        event.preventDefault();

        console.log (document.getElementById("leFormulaire"));

        axios({
            url: '{{ path ("renvoi_entite_traitement") }}',
            method: 'POST',
            headers: { 'Content-Type': 'multipart/form-data' },
            data: new FormData(document.getElementById("leFormulaire"))
        })
        .then(function (response) {
            // response.data est un objet qui correspond à l'array associatif envoyé dans le controller
            // JsonResponse a transformé l'array en JSON. Axios transforme le JSON en array d'objets JS
            // (et on utilise ici la clé "leMessage")
            
            console.log (response.data);
            let arrayLivres = response.data;
            console.log (arrayLivres);

            var ul = divLivres.appendChild(document.createElement ("ul"));
                
            for (i=0;i< arrayLivres.length;i++){
                var li = ul.appendChild (document.createElement ("li"));
                li.appendChild (document.createTextNode (arrayLivres[i]['titre']));
            }

            
        })
        .catch(function (error) {
            console.log(error);
        });
    });    
</script>
{% endblock %}
